body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  position: relative;
}

.content-container {
  margin-left: 13%;
  height: 100vh;
  display: grid;
  align-content: center;
}

.shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vh;
  height: 100vh;
  position: fixed;
  right: 0;
}

.nav-div {
  height: 160px;
}

.small-shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 180px;
  height: 36px;
}

.shapes-1 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-2 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-3 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-4 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.base-shape {
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 50%;
}

.color0 {
  background-color: #fdd272;
}

.color1 {
  background-color: #ffb26d;
}

.color2 {
  background-color: #3eb2a2;
}

.color3 {
  background-color: #385663;
}

.color4 {
  background-color: #ff7f60;
}

.rotation0 {
  transform: rotate(0deg);
}

.rotation1 {
  transform: rotate(90deg);
}

.rotation2 {
  transform: rotate(180deg);
}

.rotation3 {
  transform: rotate(270deg);
}

/* Text Styles */
.nav {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #022539;
  text-decoration: none;
  position: absolute;
  top: 4.25%;
  left: 7.29%;
}

h1 {
  font-family: poppins, sans-serif;
  color: #022539;
  font-weight: bold;
  font-size: 4rem;
  width: 73.4%;
  line-height: 92px;
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.body-text {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  top: 827px;
  left: 140px;
  width: 677px;
  height: 473px;
}

.messages-remaining-container {
  display: flex;
  align-items: center;
  height: 20px;
}

#messages-remaining {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 2rem;
  height: 45px;
  margin-left: 36px;
}

/* Ethereum contract address copy to clipboard button */
#eth-button {
  font-family: poppins, sans-serif;
  font-weight: regular;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 92%;
  left: 7.292%;
}

.eth-address-mobile {
  display: none;
}

#ethereum-text {
  margin-left: 16px;
}

#copy-icon {
  align-self: center;
}

.eth-input {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -20%;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Info Button */
.info-button {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  background-color: #ffffff;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border: 4px solid #385663;
  border-radius: 500px 500px 500px 0px;
  text-decoration: none;
  margin-left: 59px;
  cursor: pointer;
}

/* Add message button styling and animation */

.button-container {
  width: 288px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  text-decoration: none;
}

.button-background {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 16;
  background-color: #fdd272;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: none;
  z-index: 0;
}

.add-message {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 11;
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: 4px solid #385663;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: transform 0.3s;
  cursor: pointer;
}

.add-message:hover {
  transform: translateX(10px) translateY(11px);
}

.big-button-container {
  display: flex;
  margin-top: 10px;
}

@media (max-width: 1750px) {
  h1 {
    font-size: 3.5rem;
    line-height: 85px;
  }

  h2 {
    font-size: 1.75rem;
  }

  .body-text {
    font-size: 1.3125rem;
  }

  .nav {
    font-size: 1.75rem;
  }

  #messages-remaining {
    font-size: 1.75rem;
  }

  .info-button {
    width: 250px;
    height: 97px;
    margin-left: 15px;
    font-size: 1.3125rem;
  }

  .add-message {
    height: 97px;
    width: 250px;
    font-size: 1.3125rem;
  }

  .button-background {
    height: 97px;
    width: 250px;
  }

  .add-message:hover {
    transform: translateX(11px) translateY(10px);
  }
}

@media (max-width: 1670px) {
  .shapes {
    width: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .nav {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 78px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .body-text {
    font-size: 1.125rem;
  }

  .info-button {
    width: 220px;
    height: 86px;
    margin-left: 20px;
    font-size: 1.125rem;
  }

  .button-container {
    width: 240px;
    display: grid;
  }

  .add-message {
    width: 220px;
    height: 86px;
    font-size: 1.125rem;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 11;
  }

  .button-background {
    width: 220px;
    height: 86px;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 16;
  }

  #messages-remaining {
    margin-left: 30px;
    font-size: 1.5rem;
    height: 37px;
  }

  .add-message:hover {
    transform: translateX(9px) translateY(8px);
  }

  .small-shapes {
    width: 150px;
    height: 30px;
  }

  .big-button-container {
    margin-top: 0px;
  }
}

@media (max-width: 1400px) {
  .nav {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 68px;
  }

  h2 {
    font-size: 1.25rem;
  }

  .body-text {
    font-size: 0.9375rem;
  }

  .info-button {
    width: 200px;
    height: 78px;
    margin-left: 0px;
    font-size: 0.9375rem;
  }

  .button-container {
    width: 240px;
  }

  .add-message {
    width: 200px;
    height: 78px;
    font-size: 0.9375rem;
  }

  .button-background {
    width: 200px;
    height: 78px;
  }

  #messages-remaining {
    margin-left: 25px;
    font-size: 1.25rem;
    height: 30px;
  }

  .add-message:hover {
    transform: translateX(9px) translateY(8px);
  }

  .small-shapes {
    width: 125px;
    height: 25px;
  }

  .big-button-container {
    margin-top: 0px;
  }
}

@media (max-width: 1169px) {
  h1 {
    font-size: 2.4rem;
    line-height: 65px;
  }

  .button-container {
    width: 230px;
  }

  .add-message {
    width: 190px;
    height: 74.1px;
  }

  .button-background {
    width: 190px;
    height: 74.1px;
  }

  .info-button {
    width: 190px;
    height: 74.1px;
  }

  #ethereum-text {
    margin-left: 12px;
  }

  #eth-button {
    font-size: 0.85rem;
  }

  .eth-address-mobile {
    display: inline;
  }

  .eth-address-hidden {
    display: none;
  }
}

@media (max-width: 1122px) {
  h1 {
    font-size: 2rem;
    line-height: 50px;
  }

  #messages-remaining {
    margin-left: 25px;
    font-size: 1rem;
    height: 25px;
  }

  .small-shapes {
    width: 115px;
    height: 23px;
  }

  .button-container {
    width: 210px;
  }

  .add-message {
    width: 175px;
    height: 68.25px;
  }

  .add-message:hover {
    transform: translateX(8px) translateY(7px);
  }

  .button-background {
    width: 175px;
    height: 68.25px;
  }

  .info-button {
    width: 175px;
    height: 68.25px;
  }

  #eth-button {
    font-size: 0.7083rem;
  }

  #copy-icon {
    height: 15px;
  }

  .eth-address-mobile {
    display: inline;
  }

  .eth-address-hidden {
    display: none;
  }
}

@media (max-width: 936px) {
  h1 {
    font-size: 1.8rem;
  }

  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-2 {
    display: none;
  }
}

@media (max-width: 840px) {
  h1 {
    font-size: 1.5rem;
    line-height: 45px;
  }

  .nav {
    font-size: 0.95rem;
  }

  #messages-remaining {
    margin-left: 18px;
    font-size: 0.95rem;
    height: 23px;
  }

  .small-shapes {
    width: 90px;
    height: 18px;
  }

  .button-container {
    width: 190px;
  }

  .add-message {
    width: 155px;
    height: 60.45px;
    font-size: 0.8rem;
    border-width: 3px;
  }

  .add-message:hover {
    transform: translateX(7px) translateY(6px);
  }

  .button-background {
    width: 155px;
    height: 60.45px;
  }

  .info-button {
    width: 155px;
    height: 60.45px;
    font-size: 0.8rem;
    border-width: 3px;
  }
}

@media (max-width: 700px) {
  .shapes {
    width: 20vh;
    grid-template-columns: 1fr;
  }

  .shapes-3 {
    display: none;
  }

  h1 {
    font-size: 1.3rem;
    line-height: 35px;
  }

  .button-container {
    width: 160px;
  }

  .add-message {
    width: 130px;
    height: 50.7px;
    font-size: 0.8rem;
    border-width: 2px;
  }

  .add-message:hover {
    transform: translateX(6px) translateY(5px);
  }

  .button-background {
    width: 130px;
    height: 50.7px;
  }

  .info-button {
    width: 130px;
    height: 50.7px;
    font-size: 0.8rem;
    border-width: 2px;
  }
}
@media (max-width: 638px) {
  h1 {
    font-size: 1.1rem;
    line-height: 29px;
  }

  #messages-remaining {
    margin-left: 15px;
    font-size: 0.8rem;
    height: 18px;
  }

  .small-shapes {
    width: 75px;
    height: 15px;
  }
  .button-container {
    width: 140px;
  }

  .add-message {
    width: 115px;
    height: 44.85px;
    font-size: 0.65rem;
    border-width: 2px;
  }

  .add-message:hover {
    transform: translateX(6px) translateY(5px);
  }

  .button-background {
    width: 115px;
    height: 44.85px;
  }

  .info-button {
    width: 115px;
    height: 44.85px;
    font-size: 0.65rem;
    border-width: 2px;
  }
}

@media (max-width: 480px) {
  .shapes {
    display: none;
  }

  .nav {
    font-size: 1.25rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .content-container {
    margin: 7.292%;
    align-content: initial;
    align-items: center;
    justify-items: center;
  }

  .messages-remaining-container {
    width: 100%;
  }

  #messages-remaining {
    margin-left: 4.6728vw;
    /* font-size: 1.1875rem; */
    font-size: 4.4392vw;
    height: 6.5vw;
  }

  .small-shapes {
    width: 23.364vw;
    height: 4.6728vw;
  }

  h1 {
    width: 100%;
    font-size: 2rem;
    line-height: 45px;
  }

  .button-container {
    width: 288px;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    text-decoration: none;
  }

  .add-message {
    font-size: 1.5rem;
    width: 288px;
    height: 120px;
  }

  .add-message:hover {
    transform: translateX(6px) translateY(5px);
  }

  .button-background {
    width: 288px;
    height: 120px;
  }

  #eth-button {
    top: 88%;
  }
}

/* Info Page Styles */
.scrollable {
  overflow-y: auto;
}

#info-container {
  align-content: start;
}

.abstract {
  top: 345px;
  left: 140px;
  width: 684px;
  height: 456px;
}

#add-message-info {
  position: fixed;
  top: 83.33%;
  left: 7.292%;
}

#button-background-info {
  position: fixed;
  top: 83.33%;
  left: 7.292%;
}

#add-message-info:hover {
  transform: translateX(0px) translateY(0px);
}
