body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  position: relative;
}

.content-container {
  margin-left: 13%;
  height: 100vh;
  display: grid;
  align-content: center;
}

.shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vh;
  height: 100vh;
  position: fixed;
  right: 0;
}

.small-shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 181px;
  height: 36px;
}

.shapes-1 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-2 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-3 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-4 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.base-shape {
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 50%;
}

.color0 {
  background-color: #fdd272;
}

.color1 {
  background-color: #ffb26d;
}

.color2 {
  background-color: #3eb2a2;
}

.color3 {
  background-color: #385663;
}

.color4 {
  background-color: #ff7f60;
}

.rotation0 {
  transform: rotate(0deg);
}

.rotation1 {
  transform: rotate(90deg);
}

.rotation2 {
  transform: rotate(180deg);
}

.rotation3 {
  transform: rotate(270deg);
}

/* Text Styles */
.nav {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #022539;
  text-decoration: none;
  position: absolute;
  top: 4%;
  left: 7.292%;
}

h1 {
  font-family: poppins, sans-serif;
  color: #022539;
  font-weight: bold;
  font-size: 4rem;
  width: 73.4%;
  line-height: 92px;
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.body-text {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  text-align: left;
  top: 827px;
  left: 140px;
  width: 677px;
  height: 473px;
}

.messages-remaining-container {
  display: flex;
  align-items: center;
  height: 30px;
}

#messages-remaining {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 2rem;
  height: 45px;
  margin-left: 36px;
}

/* Ethereum contract address copy to clipboard button */
#eth-button {
  font-family: poppins, sans-serif;
  font-weight: regular;
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 93%;
  left: 7.292%;
}

#ethereum-text {
  margin-left: 16px;
}

#copy-icon {
  align-self: center;
}

.eth-input {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -20%;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Info Button */
.info-button {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  background-color: #ffffff;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border: 4px solid #385663;
  border-radius: 500px 500px 500px 0px;
  text-decoration: none;
  margin-left: 59px;
  cursor: pointer;
}

/* Add message button styling and animation */

.button-container {
  width: 288px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  text-decoration: none;
}

.button-background {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 16;
  background-color: #fdd272;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: none;
  z-index: 0;
}

.add-message {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 11;
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: 4px solid #385663;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: transform 0.3s;
  cursor: pointer;
}

.add-message:hover {
  transform: translateX(10px) translateY(11px);
}

.big-button-container {
  display: flex;
  margin-top: 10px;
}

@media (max-width: 1750px) {
  h1 {
    font-size: 3.5rem;
    line-height: 85px;
  }

  .info-button {
    width: 250px;
    height: 97px;
    margin-left: 15px;
  }

  .add-message {
    height: 97px;
    width: 250px;
  }

  .button-background {
    height: 97px;
    width: 250px;
  }

  .add-message:hover {
    transform: translateX(11px) translateY(10px);
  }
}

@media (max-width: 1670px) {
  h1 {
    font-size: 3rem;
    line-height: 78px;
  }

  /* .shapes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vh;
    height: 100vh;
    position: fixed;
    right: 0;
  } */

  .info-button {
    width: 220px;
    height: 86px;
    margin-left: 0px;
    font-size: 1.3rem;
  }

  .button-container {
    width: 240px;
    display: grid;
  }

  .add-message {
    width: 220px;
    height: 86px;
    font-size: 1.3rem;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 11;
  }

  .button-background {
    width: 220px;
    height: 86px;
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 16;
  }

  .add-message:hover {
    transform: translateX(9px) translateY(8px);
  }
}

/* Info Page Styles */

#info-container {
  align-content: start;
}

#info-nav {
  position: static;
  margin-top: 4%;
  margin-bottom: 69px;
}

.abstract {
  top: 345px;
  left: 140px;
  width: 684px;
  height: 456px;
}

.scrollable {
  overflow-y: auto;
}
