/* Basic Styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  position: relative;
  height: 100%;
}

.content-container {
  margin-left: 13%;
  height: 100%;
  display: grid;
  align-content: center;
}

.shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80vh;
  height: 100vh;
  position: fixed;
  right: 0;
}

.nav-div {
  height: 160px;
}

.small-shapes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 160px;
  height: 32px;
}

.shapes-1 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-2 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-3 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.shapes-4 {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.base-shape {
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 50%;
}

.color0 {
  background-color: #fdd272;
}

.color1 {
  background-color: #ffb26d;
}

.color2 {
  background-color: #3eb2a2;
}

.color3 {
  background-color: #385663;
}

.color4 {
  background-color: #ff7f60;
}

.rotation0 {
  transform: rotate(0deg);
}

.rotation1 {
  transform: rotate(90deg);
}

.rotation2 {
  transform: rotate(180deg);
}

.rotation3 {
  transform: rotate(270deg);
}

#mobile-shape {
  display: none;
}

a {
  text-decoration: none;
}

/* Text Styles */
.nav {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #022539;
  text-decoration: none;
  position: absolute;
  top: 4.25%;
  left: 7.29%;
}

h1 {
  font-family: poppins, sans-serif;
  color: #022539;
  font-weight: bold;
  font-size: 4rem;
  width: 73.4%;
  line-height: 92px;
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.body-text {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  width: 100%;
}

.messages-remaining-container {
  display: flex;
  align-items: center;
  height: 20px;
}

#messages-remaining {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 1.9rem;
  height: 45px;
  margin-left: 36px;
}

/* Ethereum contract address copy to clipboard button */
#eth-button {
  font-family: poppins, sans-serif;
  font-weight: regular;
  font-size: 1rem;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  cursor: pointer;
  position: absolute;
  padding: 0;
  top: 92%;
  left: 7.29%;
}

.eth-address-mobile {
  display: none;
}

#ethereum-text {
  margin-left: 16px;
}

#copy-icon {
  align-self: center;
}

.eth-input {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  left: -20%;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Info Button */
.info-button {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  background-color: #ffffff;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border: 4px solid #385663;
  border-radius: 500px 500px 500px 0px;
  text-decoration: none;
  cursor: pointer;
}

.info-anchor {
  margin-left: 59px;
  border-radius: 500px 500px 500px 0px;
  width: auto;
}

#mobile-info-button {
  font-family: poppins, sans-serif;
  font-weight: bold;

  font-size: 1.5rem;
  color: #022539;
  display: none;
}

/* Add message button styling and animation */
/* .button-container {
  width: 288px;
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  text-decoration: none;
}

.button-background {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 16;
  background-color: #fdd272;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: none;
  z-index: 0;
}

.add-message {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 11;
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: 4px solid #385663;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: transform 0.3s;
  cursor: pointer;
}

.add-message:hover {
  transform: translateX(10px) translateY(11px);
} */

.button-container {
  position: relative;
  width: 288px;
  height: 120px;
  display: grid;
  text-decoration: none;
}

.button-background {
  position: absolute;
  background-color: #fdd272;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: none;
  z-index: 0;
  cursor: pointer;
  align-self: end;
  justify-self: end;
  transition: transform 0.3s;
}

.add-message {
  position: absolute;
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 1.5rem;
  width: 277px;
  height: 108px;
  border-radius: 500px 500px 500px 0px;
  border: 4px solid #385663;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  cursor: pointer;
}

.add-message:hover + .button-background {
  transform: translateX(-11px) translateY(-12px);
}

.big-button-container {
  display: flex;
  margin-top: 10px;
}

/* .big-button-container {
  display: flex;
  margin-top: 10px;
} */

/* Info Page Styles */
.scrollable {
  overflow-y: auto;
}

#button-container-info {
  position: relative;
}

#info-container {
  align-content: start;
}

.abstract {
  width: 100%;
}

#add-message-info {
  position: fixed;
  top: 83.33%;
  left: 6.9%;
}

#button-background-info {
  position: fixed;
  top: 83.33%;
  left: 6.9%;
}

#add-message-info:hover {
  transform: translateX(0px) translateY(0px);
}

.big-div {
  width: 80%;
}

/* Form Page Styles */
* :not(.no-box-sizing) {
  box-sizing: border-box;
}

.form-h1 {
  margin-bottom: 26px;
  width: initial;
}

#form-container {
  /* margin-top: 142px; */
  /* margin-top: 7.3958%; */
  /* height: 100%; */
  align-content: start;
  /* display: grid; */
  /* grid-template-rows: 7.3958% 1fr 7.3958%; */
}

#regForm {
  font-family: poppins, sans-serif;
  width: 70%;
  /* height: 100%; */
  /* margin-top: 13.1481%; */
  margin-top: 142px;
}

.form-body-text {
  margin: 0px 0px 51px 0px;
}

.text-field {
  width: 100%;
  height: 80px;
  border: 3px solid #385663;
  border-radius: 18px;
}

#message {
  height: 192px;
}

input {
  padding: 10px 33px;
  font-size: 1rem;
  font-family: poppins, sans-serif;
  /* margin-top: 43px; */
}

textarea {
  padding: 27px 33px;
  font-family: poppins, sans-serif;
  font-size: 1rem;
}

.form-element:focus {
  border-color: #022539;
  outline: none;
}

/* Mark input boxes that gets an error on validation: */

/* Hide all steps by default: */
.tab {
  display: none;
  /* height: 75%; */
}

.charity-text {
  /* display: none; */
  position: absolute;
  left: -500%;
  /* visibility: hidden; */
  line-height: 30px;
  /* background-color: #fff; */
  margin-top: 0px;
  opacity: 0;
  transition: 0.6s opacity;
  /* align-self: flex-end; */
}

.mobile-charity-text {
  display: none;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  margin-bottom: 50px;
}

.next-button-container {
  position: relative;
  display: grid;
  width: 48.1802%;
  height: 97px;
  /* padding-left: 20px; */
  /* transition: 0.3s justify-items, 0.3s align-items; */
}

#nextBtn {
  font-family: poppins, sans-serif;
  font-weight: bold;
  color: #022539;
  font-size: 1.5rem;
  width: 96%;
  height: 80px;
  border-radius: 18px;
  border: 4px solid #385663;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: transform 0.3s;
  cursor: pointer;
}

#nextBtn-background {
  border-radius: 18px;
  width: 96%;
  height: 80px;
}

#nextBtn:hover + #nextBtn-background {
  transform: translateX(-4.2%) translateY(-17.5px);
}

#prevBtn {
  font-family: poppins, sans-serif;
  color: #022539;
  border-radius: 18px;
  background-color: #ffffff;
  font-size: 1.5rem;
  width: 45.0606%;
  height: 80px;
  border: 4px solid #385663;
  text-decoration: none;
  cursor: pointer;
}

#cancel-anchor {
  width: 45.0606%;
}

#cancel {
  display: none;
  font-family: poppins, sans-serif;
  color: #022539;
  border-radius: 18px;
  background-color: #ffffff;
  font-size: 1.5rem;
  width: 100%;
  height: 80px;
  border: 4px solid #385663;
  text-decoration: none;
  cursor: pointer;
}

.charity-select {
  display: grid;
  margin: 10% 0;
  height: 15.8839%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 100px white inset !important;
  -webkit-box-shadow: 0 0 0 100px white inset !important;
}

input[type="radio"] {
  width: 0px;
  height: 0px;
  margin: 0;
}

.charity-label {
  display: grid;
  grid-template-rows: 1fr;
  border: 3px solid #385663;
  height: 115px;
  padding: 10px 27px 10px 27px;
  transition: 0.3s height;
  border-radius: 18px;
  background-color: #fff;
  /* align-content: center; */
}

.charity-top {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.charity-image {
  width: 54px;
  height: 54px;
  margin-right: 25px;
}

input[type="radio"]:checked + .charity-label {
  /* border-color: lawngreen; */
  height: 192px;
  grid-template-rows: 1fr;
  /* align-items: initial; */
}

input[type="radio"]:checked + .charity-label .charity-text {
  font-size: 1rem;
  margin-left: 53px;
  position: static;
  /* width: 100%;
  height: 100%; */
  /* display: block; */
  opacity: 1;
  /* background-color: #696969; */
}

.charity-top .body-text {
  width: initial;
}

.fake-radio {
  width: 22px;
  height: 22px;
  border: 2px solid #385663;
  border-radius: 50%;
  margin-right: 31px;
}

.radio-checked {
  display: none;
}

input[type="radio"]:checked + .charity-label .fake-radio {
  /* background-color: #385663; */
  border: 2px solid #385663;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"]:checked + .charity-label .fake-radio .radio-checked {
  display: inline;
  width: 12px;
  height: 12px;
  background-color: #385663;
  border-radius: 50%;
}

/* Make circles that indicate the steps of the form: */
#big-step-container {
  display: grid;
  position: relative;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  /* margin-top: 51px; */
  margin-bottom: 47px;
  height: 71px;
}

#step-container {
  display: grid;
  position: absolute;
  grid-template-columns: 0.95fr 2fr 0.95fr 2fr 0.95fr;
  align-items: center;
  justify-content: center;
  width: 396px;
  /* margin-left: 18px; */
  /* margin-bottom: 50px; */
  /* left: 7.292%;
  top: 13.14%; */
  margin: 0 16px;
}

.step {
  height: 41px;
  width: 41px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.line {
  width: 99.79px;
  height: 2px;
  background-color: #022539;
}

#step-1 {
  background-color: #385663;
}

#step-2 {
  background-color: #3eb2a2;
}

#step-3 {
  background-color: #fdd272;
}

#circle {
  height: 71px;
  width: 71px;
  position: absolute;
  border: 2px solid #022539;
  border-radius: 50%;
  transition: 0.3s transform;
  /* justify-self:; */
  /* top: 11.8%; */
  /* grid-row-start: 0;
  grid-row-end: 2; */
}

/* .step.active {
  opacity: 1;
} */

/* Payment Styles */

.apple-image {
  margin-left: 10px;
  margin-right: 27px;
}

#payment-label {
  border: 3px solid #385663;
  height: 80px;
  width: 270px;
  border-radius: 18px;
  background-color: #fff;
  transition: 0.3s height;
}

#secure-pay-container {
  display: flex;
  align-items: center;
  margin-top: 23px;
}

#secure-pay-container a {
  display: flex;
  align-items: center;
  margin-right: 55px;
  font-size: 1rem;
  color: #022539;
  text-decoration: underline;
}

#secure-pay-container p {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.payment-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.invalid {
  border-color: #ff7f60;
}

@media (max-width: 1750px) {
  h1 {
    font-size: 3.5rem;
    line-height: 85px;
  }

  h2 {
    font-size: 1.75rem;
  }

  .body-text {
    font-size: 1.3125rem;
  }

  .nav {
    font-size: 1.75rem;
  }

  #messages-remaining {
    font-size: 1.75rem;
  }

  .info-button {
    width: 250px;
    height: 97px;
    font-size: 1.3125rem;
  }

  .info-anchor {
    margin-left: 15px;
  }

  .button-container {
    width: 260px;
    height: 108px;
  }

  .add-message {
    height: 97px;
    width: 250px;
    font-size: 1.3125rem;
  }

  .button-background {
    height: 97px;
    width: 250px;
  }

  .form-body-text {
    margin-bottom: 35px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-10px);
  }

  #regForm {
    margin-top: 100px;
  }

  #big-step-container {
    margin-bottom: 0px;
    height: 61px;
  }

  #step-container {
    width: 313px;
    margin: 0 16px;
  }

  .step {
    height: 31px;
    width: 31px;
  }

  .line {
    width: 75px;
    height: 2px;
  }

  #circle {
    height: 61px;
    width: 61px;
  }
}

@media (max-width: 1670px) {
  .shapes {
    width: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .nav {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 78px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .body-text {
    font-size: 1.125rem;
  }

  .info-button {
    width: 220px;
    height: 86px;
    font-size: 1.125rem;
  }

  .info-anchor {
    margin-left: 20px;
  }

  .button-container {
    width: 230px;
    height: 95px;
  }

  .add-message {
    width: 220px;
    height: 86px;
    font-size: 1.125rem;
  }

  .button-background {
    width: 220px;
    height: 86px;
  }

  #messages-remaining {
    margin-left: 30px;
    font-size: 1.5rem;
    height: 37px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-9px) translateY(-8px);
  }

  .small-shapes {
    width: 150px;
    height: 30px;
  }

  .big-button-container {
    margin-top: 0px;
  }

  #large-form-container {
    grid-template-columns: 66.25% 33.75%;
  }

  #form-container {
    margin-left: 10.5%;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 0.8rem;
    line-height: 25px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 182px;
  }

  .charity-label {
    height: 100px;
  }
}

@media (max-width: 1400px) {
  .nav {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 68px;
  }

  h2 {
    font-size: 1.25rem;
  }

  .body-text {
    font-size: 0.9375rem;
  }

  .form-body-text {
    height: initial;
  }

  .info-button {
    width: 200px;
    height: 78px;
    font-size: 0.9375rem;
  }

  .info-anchor {
    margin-left: 15px;
  }

  .button-container {
    width: 209px;
    height: 86px;
  }

  .add-message {
    width: 200px;
    height: 78px;
    font-size: 0.9375rem;
  }

  .button-background {
    width: 200px;
    height: 78px;
  }

  #messages-remaining {
    margin-left: 25px;
    font-size: 1.25rem;
    height: 30px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-9px) translateY(-8px);
  }

  .small-shapes {
    width: 125px;
    height: 25px;
  }

  .big-button-container {
    margin-top: 0px;
  }

  .text-field {
    font-size: 0.8rem;
    height: 60px;
    border-width: 2px;
  }

  #message {
    height: 142px;
  }

  .next-button-container {
    height: 78px;
  }

  #nextBtn {
    border-width: 3px;
    height: 60px;
    font-size: 1.2rem;
  }

  #nextBtn-background {
    height: 60px;
  }

  #prevBtn {
    border-width: 3px;
    height: 60px;
    font-size: 1.2rem;
  }

  #cancel {
    border-width: 3px;
    height: 60px;
    font-size: 1.2rem;
  }

  .charity-label {
    border-width: 2px;
    height: 90px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 172px;
  }

  input[type="radio"]:checked + .charity-label {
    grid-template-rows: 85px 85px;
  }
}

@media (max-width: 1169px) {
  h1 {
    font-size: 2.4rem;
    line-height: 65px;
  }

  .button-container {
    width: 199px;
    height: 82px;
  }

  .add-message {
    width: 190px;
    height: 74.1px;
  }

  .button-background {
    width: 190px;
    height: 74.1px;
  }

  .info-button {
    width: 190px;
    height: 74.1px;
  }

  #ethereum-text {
    margin-left: 12px;
  }

  #eth-button {
    font-size: 0.85rem;
  }

  .eth-address-mobile {
    display: inline;
  }

  .eth-address-hidden {
    display: none;
  }

  input[type="radio"]:checked + .charity-label {
    height: 200px;
  }

  .fake-radio {
    width: 20px;
    height: 20px;
  }

  input[type="radio"]:checked + .charity-label .fake-radio .radio-checked {
    width: 10px;
    height: 10px;
  }

  .charity-image {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 1122px) {
  h1 {
    font-size: 2rem;
    line-height: 50px;
  }

  #messages-remaining {
    margin-left: 25px;
    font-size: 1rem;
    height: 25px;
  }

  .small-shapes {
    width: 115px;
    height: 23px;
  }

  .button-container {
    width: 183px;
    height: 75.5px;
  }

  .add-message {
    width: 175px;
    height: 68.25px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-8px) translateY(-7px);
  }

  .button-background {
    width: 175px;
    height: 68.25px;
  }

  .info-button {
    width: 175px;
    height: 68.25px;
  }

  #eth-button {
    font-size: 0.7083rem;
  }

  #copy-icon {
    height: 15px;
  }

  .eth-address-mobile {
    display: inline;
  }

  .eth-address-hidden {
    display: none;
  }

  #regForm {
    margin-top: 83px;
  }

  /* #big-step-container {
    margin-bottom: 0px;
    height: 46px;
  }

  #step-container {
    width: 260px;
    margin: 0 10px;
  }

  .step {
    height: 26px;
    width: 26px;
    font-size: 0.8rem;
  }

  .line {
    width: 66px;
    height: 2px;
  }

  #circle {
    height: 46px;
    width: 46px;
  } */
}

@media (max-width: 936px) {
  h1 {
    font-size: 1.8rem;
  }

  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-2 {
    display: none;
  }

  #large-form-container {
    grid-template-columns: 77.5% 22.5%;
  }

  #form-container {
    margin-left: 9%;
  }

  /* #big-step-container {
    margin-bottom: 0px;
    height: 46px;
  }

  #step-container {
    width: 210px;
    margin: 0 10px;
  }

  .step {
    height: 22px;
    width: 22px;
    font-size: 0.6rem;
  }

  .line {
    width: 53px;
    height: 2px;
  }

  #circle {
    height: 40px;
    width: 40px;
  } */
}

@media (max-width: 840px) {
  h1 {
    font-size: 1.5rem;
    line-height: 45px;
  }

  .nav {
    font-size: 0.95rem;
  }

  #messages-remaining {
    margin-left: 18px;
    font-size: 0.95rem;
    height: 23px;
  }

  .small-shapes {
    width: 90px;
    height: 18px;
  }

  .button-container {
    width: 163px;
    height: 67px;
  }

  .add-message {
    width: 155px;
    height: 60.45px;
    font-size: 0.8rem;
    border-width: 3px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-7px) translateY(-6px);
  }

  .button-background {
    width: 155px;
    height: 60.45px;
  }

  .info-button {
    width: 155px;
    height: 60.45px;
    font-size: 0.8rem;
    border-width: 3px;
  }

  #nextBtn {
    font-size: 1rem;
  }

  #prevBtn {
    font-size: 1rem;
  }

  #cancel {
    font-size: 1rem;
  }

  .charity-top p:nth-of-type(1) {
    display: none;
  }

  .mobile-charity-text {
    display: inline-block;
    font-size: 1.3rem;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    margin-left: 0px;
  }
}

@media (max-width: 750px) {
  input[type="radio"]:checked + .charity-label {
    height: 200px;
  }
}

/* @media (max-width: 700px) {
  h1 {
    font-size: 1.3rem;
    line-height: 35px;
  }

  .button-container {
    width: 135px;
    height: 56px;
  }

  .add-message {
    width: 130px;
    height: 50.7px;
    font-size: 0.7rem;
    border-width: 2px;
  }

  .button-background {
    height: 50.7px;
    width: 130px;
  }

  .add-message:hover {
    transform: translateX(6px) translateY(5px);
  }

  .info-button {
    width: 130px;
    height: 50.7px;
    font-size: 0.7rem;
    border-width: 2px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 0.7rem;
    line-height: 25px;
  }

  .charity-label {
    height: 90px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 200px;
  }
  .form-h1 {
    font-size: 1.5rem;
    margin-top: 30px;
  }

  .charity-top {
    height: 65px;
  }
}

@media (max-width: 638px) {
  h1 {
    font-size: 1.1rem;
    line-height: 29px;
  }

  #messages-remaining {
    margin-left: 15px;
    font-size: 0.7rem;
    height: 18px;
  }

  .small-shapes {
    width: 75px;
    height: 15px;
  }
  .button-container {
    width: 121px;
    height: 49.7px;
  }

  .add-message {
    width: 115px;
    height: 44.85px;
    font-size: 0.6rem;
    border-width: 2px;
  }

  #add-message-info {
    right: 10%;
  }

  .add-message:hover {
    transform: translateX(6px) translateY(5px);
  }

  .button-background {
    width: 115px;
    height: 44.85px;
  }

  .info-button {
    width: 115px;
    height: 44.85px;
    font-size: 0.6rem;
    border-width: 2px;
  }

  .disclaimer {
    font-size: 0.6rem;
    margin-bottom: 20px;
  }

  .next-button-container {
    height: 67px;
  }

  #nextBtn {
    border-width: 3px;
    height: 55px;
    font-size: 0.9rem;
  }

  #nextBtn-background {
    height: 55px;
  }

  #prevBtn {
    border-width: 3px;
    height: 55px;
    font-size: 0.9rem;
  }

  #cancel {
    border-width: 3px;
    height: 55px;
    font-size: 0.9rem;
  }
}

@media (max-width: 575px) {
  input[type="radio"]:checked + .charity-label {
    height: 220px;
  }

  .form-body-text {
    margin-bottom: 25px;
  }
} */
/* 
@media (max-width: 560px) {
  input[type="radio"]:checked + .charity-label {
    height: 220px;
  }
} */

@media (max-width: 700px) {
  .shapes {
    display: none;
  }

  .nav {
    font-size: 1.25rem;
    left: 9%;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .content-container {
    margin: initial;
    justify-items: center;
  }

  #large-form-container #form-container {
    margin: initial;
    padding: 100px 9% 0px 9%;
  }

  #home-container {
    padding: 100px 9% 100px 9%;
  }

  #info-container {
    padding: 100px 9% 100px 9%;
  }

  .messages-remaining-container {
    width: 100%;
  }

  #messages-remaining {
    margin-left: 4.6728vw;
    font-size: 3.4392vw;
    height: 5vw;
  }

  .small-shapes {
    width: 100px;
    height: 20px;
  }

  h1 {
    width: 100%;
    font-size: 2.7rem;
    line-height: 70px;
    margin-top: 34px;
    margin-bottom: 52px;
  }

  .button-container {
    width: 288px;
    height: 123px;
  }

  .add-message {
    font-size: 1.5rem;
    width: 277px;
    height: 108px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    display: none;
  }

  #mobile-info-button {
    display: initial;
    margin-top: 43px;
    margin-bottom: 120px;
    text-decoration: underline;
  }

  .button-background {
    width: 277px;
    height: 108px;
  }

  #mobile-shape {
    display: initial;
    position: absolute;
    width: 170px;
    top: 70%;
    right: 0;
  }

  #eth-button {
    width: 100vw;
    justify-content: center;
    font-size: 1rem;
    /* top: 86%; */
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  #large-form-container {
    grid-template-columns: 1fr;
  }

  #form-container {
    margin-left: 7.292%;
  }

  #regForm {
    width: 100%;
  }

  .form-button-container {
    margin-bottom: 10px;
  }

  #big-step-container {
    margin-bottom: 0px;
    height: 61px;
  }

  #step-container {
    width: 319px;
    margin: 0 16px;
  }

  .step {
    height: 31px;
    width: 31px;
    font-size: 0.8rem;
  }

  .line {
    width: 78px;
    height: 2px;
  }

  #circle {
    height: 61px;
    width: 61px;
  }

  #nextBtn {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  .disclaimer {
    font-size: 0.875rem;
  }

  .form-body-text {
    margin-bottom: 40px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 160px;
    grid-template-rows: 70px 1fr;
  }

  .next-button-container {
    height: 84px;
  }

  #nextBtn {
    height: 72px;
    font-size: 1.25rem;
  }

  #nextBtn-background {
    height: 72px;
  }

  #cancel {
    height: 72px;
    font-size: 1.25rem;
  }

  #prevBtn {
    height: 72px;
    font-size: 1.25rem;
  }

  #form-container {
    align-content: center;
  }

  #regForm {
    height: 900px;
    margin-top: initial;
  }
}

@media (max-width: 540px) {
  h1 {
    font-size: 2.4rem;
    line-height: 60px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    line-height: 45px;
  }

  .charity-top {
    height: 70px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: 40px;
  }

  .button-container {
    width: 229px;
    height: 99px;
  }

  .add-message {
    font-size: 1.2rem;
    width: 220px;
    height: 85.7761px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-9px) translateY(-13px);
  }

  #mobile-info-button {
    font-size: 1.2rem;
  }

  .button-background {
    width: 220px;
    height: 85.7761px;
  }

  #mobile-shape {
    width: 150px;
  }

  #eth-button {
    font-size: 0.8rem;
  }

  #big-step-container {
    margin-bottom: 0px;
    height: 46px;
  }

  #step-container {
    width: 260px;
    margin: 0 10px;
  }

  .step {
    height: 26px;
    width: 26px;
    font-size: 0.8rem;
  }

  .line {
    width: 66px;
    height: 2px;
  }

  #circle {
    height: 46px;
    width: 46px;
  }

  #nextBtn {
    font-size: 1.1rem;
  }

  #cancel {
    font-size: 1.1rem;
  }

  #prevBtn {
    font-size: 1.1rem;
  }

  input[type="radio"]:checked + .charity-label {
    height: 180px;
  }

  #regForm {
    height: 850px;
    margin-top: initial;
  }
}

@media (min-width: 506px) and (max-width: 561px) {
  .tab input[type="radio"]:checked + .charity-label {
    height: 160px;
  }
}

@media (min-width: 387px) and (max-width: 506px) {
  .tab input[type="radio"]:checked + .charity-label {
    height: 180px;
  }
}

@media (max-width: 434px) {
  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }
}

@media (max-width: 386px) {
  .tab input[type="radio"]:checked + .charity-label {
    height: 210px;
  }
}

@media (max-width: 332px) {
  input[type="radio"]:checked + .charity-label {
    height: 200px;
  }
}

/* Height Media Queries */
@media (min-height: 1700px) {
  .shapes {
    width: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }
}

@media (max-width: 1100px) and (min-width: 701px) and (min-height: 800px) {
  .shapes {
    display: none;
  }

  .container {
    grid-template-columns: 100%;
  }

  .scrollable #large-form-container {
    grid-template-columns: 100%;
  }

  #nextBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  .content-container {
    margin-left: initial;
    padding: 100px 33% 100px 33%;
    justify-content: center;
  }

  .big-div {
    width: 100%;
  }

  #large-form-container #form-container {
    margin-left: initial;
    padding: 100px 19% 100px 19%;
    /* justify-content: center; */
  }

  #info-container {
    padding: 100px 19% 100px 19%;
  }

  #regForm {
    width: 100%;
    margin-top: initial;
    height: 900px;
  }

  .nav {
    left: 19.5%;
  }

  .messages-remaining-container {
    width: 100%;
    height: initial;
  }

  #messages-remaining {
    margin-left: 4.6728vw;
    font-size: 1.2rem;
    height: 30px;
  }

  h1 {
    width: 100%;
    font-size: 2.6rem;
    line-height: 70px;
    margin-top: 34px;
    margin-bottom: 52px;
  }

  .big-button-container {
    width: 100%;
  }

  .button-container {
    width: 200px;
    height: 100px;
  }

  .add-message {
    font-size: 1.1rem;
    width: 190px;
    height: 85px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    width: 190px;
    height: 85px;
    font-size: 1.1rem;
    margin-left: 30px;
  }

  .button-background {
    width: 190px;
    height: 85px;
  }

  #mobile-shape {
    display: initial;
    position: absolute;
    width: 220px;
    top: 70%;
    right: 0;
  }

  #eth-button {
    width: 100vw;
    justify-content: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .form-body-text {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .charity-label {
    height: 110px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .charity-top p {
    font-size: 1.5rem;
  }

  .text-field {
    font-size: 1rem;
  }

  #add-message-info {
    left: 19%;
  }

  #button-background-info {
    left: 19%;
  }

  .nav-div {
    height: 50px;
  }
}

@media (max-width: 870px) and (min-width: 701px) and (min-height: 680px) {
  .shapes {
    display: none;
  }

  .big-div {
    width: 100%;
  }

  .container {
    grid-template-columns: 100%;
  }

  .scrollable #large-form-container {
    grid-template-columns: 100%;
  }

  #nextBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  .content-container {
    margin-left: initial;
    padding: 100px 33% 100px 33%;
    justify-content: center;
  }

  #large-form-container #form-container {
    margin: initial;
    padding: 100px 19% 100px 19%;
  }

  #info-container {
    padding: 100px 19% 100px 19%;
  }

  .nav {
    left: 19.5%;
  }

  #regForm {
    width: 100%;
    margin-top: initial;
    height: 900px;
  }

  .messages-remaining-container {
    width: 100%;
    height: initial;
  }

  #messages-remaining {
    margin-left: 4.6728vw;
    font-size: 1.2rem;
    height: 30px;
  }

  h1 {
    width: 100%;
    font-size: 2.6rem;
    line-height: 70px;
    margin-top: 34px;
    margin-bottom: 52px;
  }

  .big-button-container {
    width: 100%;
  }

  .button-container {
    width: 200px;
    height: 100px;
  }

  .add-message {
    font-size: 1.1rem;
    width: 190px;
    height: 85px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    width: 190px;
    height: 85px;
    font-size: 1.1rem;
    margin-left: 30px;
  }

  .button-background {
    width: 190px;
    height: 85px;
  }

  #mobile-shape {
    display: initial;
    position: absolute;
    width: 220px;
    top: 70%;
    right: 0;
  }

  #eth-button {
    width: 100vw;
    justify-content: center;
    font-size: 1rem;
    /* top: 86%; */
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .form-body-text {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .charity-label {
    height: 110px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .charity-top p {
    font-size: 1.5rem;
  }

  .text-field {
    font-size: 1rem;
  }

  #add-message-info {
    left: 19%;
  }

  #button-background-info {
    left: 19%;
  }

  .nav-div {
    height: 50px;
  }
}

@media (max-width: 971px) and (min-height: 680px) and (min-width: 701px) {
  .tab input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 0.9rem;
    line-height: 30px;
  }

  .charity-label .charity-top p {
    font-size: 1.3rem;
    line-height: 30px;
  }
}

@media (min-width: 701px) and (max-width: 742px) and (min-height: 680px) {
  .tab input[type="radio"]:checked + .charity-label {
    height: 210px;
  }
}

@media (min-width: 562px) and (max-width: 700px) and (min-height: 680px) {
  .tab input[type="radio"]:checked + .charity-label {
    height: 160px;
  }
}

@media (min-height: 890px) and (min-width: 701px) and (max-width: 1300px) {
  .shapes {
    display: none;
  }

  .big-div {
    width: 100%;
  }

  .container {
    grid-template-columns: 100%;
  }

  .scrollable #large-form-container {
    grid-template-columns: 100%;
  }

  #nextBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  .content-container {
    margin-left: initial;
    padding: 100px 33% 100px 33%;
    justify-content: center;
  }

  #large-form-container #form-container {
    margin-left: initial;
    padding: 100px 19% 100px 19%;
    /* justify-content: center; */
  }

  #info-container {
    padding: 100px 19% 100px 19%;
  }

  #regForm {
    width: 100%;
    margin-top: initial;
    height: 900px;
  }

  .nav {
    left: 19.5%;
  }

  .messages-remaining-container {
    width: 100%;
    height: initial;
  }

  #messages-remaining {
    margin-left: 4.6728vw;
    font-size: 1.2rem;
    height: 30px;
  }

  h1 {
    width: 100%;
    font-size: 2.6rem;
    line-height: 70px;
    margin-top: 34px;
    margin-bottom: 52px;
  }

  .big-button-container {
    width: 100%;
  }

  .button-container {
    width: 200px;
    height: 100px;
  }

  .add-message {
    font-size: 1.1rem;
    width: 190px;
    height: 85px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    width: 190px;
    height: 85px;
    font-size: 1.1rem;
    margin-left: 30px;
  }

  .button-background {
    width: 190px;
    height: 85px;
  }

  #mobile-shape {
    display: initial;
    position: absolute;
    width: 220px;
    top: 70%;
    right: 0;
  }

  #eth-button {
    width: 100vw;
    justify-content: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .form-body-text {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .charity-label {
    height: 110px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .charity-top p {
    font-size: 1.5rem;
  }

  .text-field {
    font-size: 1rem;
  }

  #add-message-info {
    left: 19%;
  }

  #button-background-info {
    left: 19%;
  }

  .nav-div {
    height: 50px;
  }
}

@media (min-height: 1200px) and (min-width: 1271px) and (max-width: 2100) {
  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-3 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }
}
/* 
@media (min-height: 1160px) and (max-width: 1270px) {
  #form-container {
    align-content: center;
  }

  #regForm {
    height: 900px;
    margin-top: initial;
  }

  .nav {
    left: 19.5%;
  }
} */

@media (min-height: 1160px) and (min-width: 701px) {
  #form-container {
    align-content: center;
  }

  #regForm {
    height: 900px;
    margin-top: initial;
  }
}

@media (min-width: 701px) and (max-width: 1270px) and (min-height: 1160px) {
  #regForm {
    height: 900px;
    margin-top: initial;
  }

  #form-container {
    align-content: center;
  }

  .nav {
    left: 19.5%;
  }
}

@media (min-width: 1960px) and (min-height: 1360px) {
  .shapes {
    width: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  #messages-remaining {
    font-size: 2.1rem;
    height: 55px;
  }

  .small-shapes {
    width: 200px;
    height: 40px;
  }
}

@media (min-width: 1270px) and (max-width: 1900px) and (min-height: 1000px) {
  .shapes {
    width: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }
}

@media (min-width: 1270px) and (max-width: 1450px) and (min-height: 990px) {
  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }
}

@media (max-width: 938px) and (min-height: 704px) and (min-width: 701px) {
  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }
}

@media (min-width: 1450px) and (min-height: 1111px) and (max-width: 1800px) {
  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }
}

/* @media (min-height: 1310px) and (min-width: 1700px) and (max-width: 2000px) {
  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }
} */

@media (min-width: 2700px) {
  #form-container {
    width: 1292px;
  }

  #home-container {
    width: 1385px;
  }
}

@media (max-height: 1445px) and (max-width: 1300px) and (min-width: 701px) and (min-height: 680px) {
  .shapes {
    display: none;
  }

  .big-div {
    width: 100%;
  }

  .container {
    grid-template-columns: 100%;
  }

  .scrollable #large-form-container {
    grid-template-columns: 100%;
  }

  #nextBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  .content-container {
    margin-left: initial;
    padding: 100px 33% 150px 33%;
  }

  #large-form-container #form-container {
    margin-left: initial;
    padding: 100px 19% 100px 19%;
  }

  #info-container {
    padding: 100px 19% 100px 19%;
  }

  #regForm {
    width: 100%;
    margin-top: initial;
    height: 900px;
  }

  .nav {
    left: 19.5%;
  }

  .content-container {
    justify-content: center;
  }

  .messages-remaining-container {
    width: 100%;
    height: initial;
  }

  #messages-remaining {
    margin-left: 3vw;
    font-size: 1.2rem;
    height: 30px;
  }

  h1 {
    width: 100%;
    font-size: 2.6rem;
    line-height: 70px;
    margin-top: 34px;
    margin-bottom: 52px;
  }

  .big-button-container {
    width: 100%;
  }

  .button-container {
    width: 200px;
    height: 100px;
  }

  .add-message {
    font-size: 1.1rem;
    width: 190px;
    height: 85px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    width: 190px;
    height: 85px;
    font-size: 1.1rem;
    margin-left: 30px;
  }

  .button-background {
    width: 190px;
    height: 85px;
  }

  #mobile-shape {
    display: initial;
    position: absolute;
    width: 220px;
    top: 70%;
    right: 0;
  }

  #eth-button {
    width: 100vw;
    justify-content: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .form-body-text {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .charity-label {
    height: 110px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .charity-top p {
    font-size: 1.5rem;
  }

  .text-field {
    font-size: 1rem;
  }

  #add-message-info {
    left: 19%;
  }

  #button-background-info {
    left: 19%;
  }

  .nav-div {
    height: 50px;
  }
}

@media (min-width: 1700px) and (max-width: 2500px) and (min-height: 1446px) and (max-height: 3000px) {
  .shapes {
    width: 40vh;
    grid-template-columns: 1fr 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }
}

/* .shapes {
    display: none;
  }

  .big-div {
    width: 100%;
  }

  .container {
    grid-template-columns: 100%;
  }

  .scrollable #large-form-container {
    grid-template-columns: 100%;
  }

  #nextBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  .content-container {
    margin-left: initial;
    padding: 100px 33% 150px 33%;
  }

  #large-form-container #form-container {
    margin-left: initial;
    padding: 100px 19% 100px 19%;
  }

  #info-container {
    padding: 100px 19% 100px 19%;
  }

  #regForm {
    width: 100%;
    margin-top: initial;
    height: 900px;
  }

  .nav {
    left: 19.5%;
  }

  .content-container {
    justify-content: center;
  }

  .messages-remaining-container {
    width: 100%;
    height: initial;
  }

  #messages-remaining {
    margin-left: 3vw;
    font-size: 1.9rem;
    height: 45px;
  }

  h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 90px;
    margin-top: 34px;
    margin-bottom: 52px;
  }

  .big-button-container {
    width: 100%;
  }

  .button-container {
    width: 288px;
    height: 123px;
  }

  .add-message {
    font-size: 1.5rem;
    width: 277px;
    height: 108px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    width: 277px;
    height: 108px;
    font-size: 1.5rem;
  }

  .button-background {
    width: 277px;
    height: 108px;
  }

  #mobile-shape {
    display: initial;
    position: absolute;
    width: 220px;
    top: 70%;
    right: 0;
  }

  #eth-button {
    width: 100vw;
    justify-content: center;
    font-size: 1rem;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .form-body-text {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .charity-label {
    height: 110px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .charity-top p {
    font-size: 1.5rem;
  }

  .text-field {
    font-size: 1rem;
  }

  #add-message-info {
    left: 19%;
  }

  #button-background-info {
    left: 19%;
  }

  .nav-div {
    height: 50px;
  } */
/* } */

@media (min-width: 1301px) and (max-width: 1930px) and (min-height: 1446px) and (max-height: 3000px) {
  /* .shapes {
    display: none;
  } */

  .big-div {
    width: 100%;
  }

  .container {
    grid-template-columns: 55% 45%;
  }

  .scrollable #large-form-container {
    grid-template-columns: 100%;
  }

  #nextBtn {
    border-width: 2px;
  }

  #cancel {
    border-width: 2px;
  }

  #prevBtn {
    border-width: 2px;
  }

  .content-container {
    margin-left: 13%;
    justify-content: center;
    /* padding: 100px 33% 150px 33%; */
  }

  #large-form-container #form-container {
    margin-left: initial;
    padding: 100px 19% 100px 19%;
  }

  #info-container {
    padding: 100px 19% 100px 19%;
  }

  #regForm {
    width: 100%;
    margin-top: initial;
    height: 900px;
  }

  .nav {
    left: 7.29%;
  }

  .messages-remaining-container {
    width: 100%;
    height: initial;
  }

  #messages-remaining {
    margin-left: 3vw;
    font-size: 1.5rem;
    height: 30px;
  }

  h1 {
    width: 100%;
    font-size: 3.4rem;
    line-height: 75px;
    margin-top: 20px;
  }

  .big-button-container {
    width: 100%;
  }

  .button-container {
    width: 278px;
    height: 115px;
  }

  .add-message {
    font-size: 1.3rem;
    width: 267px;
    height: 100px;
    margin-bottom: 43px;
  }

  .add-message:hover + .button-background {
    transform: translateX(-11px) translateY(-15px);
  }

  .info-button {
    width: 267px;
    height: 100px;
    font-size: 1.3rem;
    margin-left: 0px;
  }

  .info-anchor {
    margin-left: 30px;
  }

  .button-background {
    width: 267px;
    height: 100px;
  }

  #mobile-shape {
    display: none;
  }

  #eth-button {
    width: 100vw;
    justify-content: start;
    font-size: 1rem;
    left: 7.29%;
  }

  .form-body-text {
    font-size: 1.5rem;
    line-height: 40px;
  }

  .charity-label {
    height: 110px;
  }

  input[type="radio"]:checked + .charity-label {
    height: 190px;
  }

  input[type="radio"]:checked + .charity-label .charity-text {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .charity-top p {
    font-size: 1.5rem;
  }

  .text-field {
    font-size: 1rem;
  }

  #add-message-info {
    left: 19%;
  }

  #button-background-info {
    left: 19%;
  }

  .nav-div {
    height: 50px;
  }
}

@media (min-width: 1171px) and (max-width: 1450px) {
  .shapes {
    width: 20vh;
    grid-template-columns: 1fr;
  }

  .shapes-1 {
    display: none;
  }

  .shapes-2 {
    display: none;
  }

  .shapes-3 {
    display: none;
  }
}

@media (min-height: 1450px) {
  #eth-button {
    top: 94%;
  }
}

/* Info Media Queries */
@media (max-width: 2018px) {
  #info-h1 {
    font-size: 3.4rem;
    line-height: 60px;
  }

  .nav-div {
    height: 150px;
  }
}

@media (max-width: 1750px) {
  .nav-div {
    height: 150px;
  }

  #info-h1 {
    font-size: 3.2rem;
    line-height: 60px;
  }
}

@media (max-width: 1650px) {
  #add-message-info {
    top: 80%;
  }

  #button-background-info {
    top: 80%;
  }

  .nav-div {
    height: 140px;
  }

  #info-h1 {
    font-size: 3rem;
    line-height: 60px;
  }
}

@media (max-width: 1514px) {
  #info-h1 {
    font-size: 2.8rem;
    line-height: 60px;
  }
}

@media (max-width: 1410px) {
  /* #add-message-info {
    top: 75%;
  }

  #button-background-info {
    top: 75%;
  } */

  #info-h1 {
    font-size: 2.6rem;
    line-height: 60px;
  }
}

@media (max-width: 936px) {
  .nav-div {
    height: 100px;
  }

  /* #add-message-info { */
  /* top: 60%;
  }

  #button-background-info {
    top: 60%;
  } */
}

@media (max-width: 840px) {
  .big-div {
    width: 100%;
  }

  .nav-div {
    height: 95px;
  }
}

@media (max-width: 700px) {
  /* #add-message-info {
    top: 55%;
  }

  #button-background-info {
    top: 55%;
  } */

  .form-body-text {
    height: initial;
  }

  #info-h1 {
    font-size: 4rem;
    line-height: 82.66px;
    margin-right: 80px;
    margin-bottom: 17.5px;
  }

  h2 {
    font-size: 2.666rem;
  }

  #add-message-info {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #button-background-info {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .body-text {
    font-size: 1.5rem;
    line-height: 42.66px;
  }

  .nav-div {
    height: 104px;
  }

  .form-body-text {
    height: initial;
    font-size: 1.125rem;
    line-height: 33px;
  }
}

@media (max-width: 638px) {
  .form-body-text {
    height: initial;
  }

  .nav-div {
    height: 90px;
  }

  .big-div {
    width: 100%;
  }

  h2 {
    font-size: 1rem;
  }
}

/* @media (max-width: 480px) {
  
} */

@media (max-width: 375px) {
  .nav-div {
    height: 90px;
  }

  #info-h1 {
    font-size: 3.5rem;
    line-height: 70px;
  }

  h2 {
    font-size: 2rem;
  }
}
